*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font: 16px/1"Microsoft YaHei",
  "Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei","sans-serif";

}
ul,
ol{
    list-style: none;
}
em,
i{
    font-style: normal;
}
a{
    text-decoration: none;
    color: #333;
}
img{
    vertical-align: middle;
}
input{
    border: none;
    outline: none;
    color: #333;
}
h1,h2,h3,h4,h5,h6{
    font-weight: 400;
}