.w{
    width: 1250px;
    margin: 0 auto;
}

.shortcut{
    height: 52px;
    background-color: #333;
}
.shortcut li a{
    width: 60px;
    height: 52px;
color: #f5f5f5;    
}
.shortcut ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;/*里面所有元素垂直居中*/
    height: 52px;
}
.shortcut .line{
    width: 1px;
    height: 12px;background-color: #999;
    margin-left: 15px;
    margin-right: 15px;
}
.shortcut .active{
    color: aquamarine;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 132px;
}
.header .logo {
    width: 250px;
    height: 88px;
}
.logo h1{
    width: 100%;
    height: 100%;
}
.header .logo a{
    display: block;
    width: 100%;
    height: 100%;
}
.header .logo a img{
    width: 100%;
    height: 100%;
}
.box{
position: relative;
}
.box a{
    display: block;
    float: left;
    font-size: 20px;
    height: 40px;
    line-height: 40px;
    margin-right: 20px;
}
.clear{
    clear: both;
}
.box .active{
    color: #7fffd4;
}
.box .line{
    width: 40px;
    height: 1px;
    background-color: aquamarine;
    transition: all .3s;
}
.search{
    position: relative;
}
.search .icon-fangdajing{
    position: absolute;
    top: 5px;
    left: 0;
    font-size: 25px;
}
.search input{
    width: 170px;
    height: 40px;
    font-size: 16px;
    border-bottom: 2px solid #f4f4f4;
    padding-left: 28px;
}
.search input::placeholder{
    font-size: 16px;
    color: #ccc;
}
.car{
margin-right: 30px;    
}
.footer{
    height: 580px;
    background-color: #f5f5f5;
}
.slogan{
    height: 178px;
    border-bottom: 1px solid #e8e8e8;
}
.slogan ul{
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.slogan li{
    display: flex;
    align-items: center;
}
.slogan h5{
    width: 58px;
height: 58px;
}
.slogan [data-id="1"]{

background: url(../images/money.png) no-repeat;
}
.slogan [data-id="2"]{

background: url(../images/car.png) no-repeat;
}
.slogan [data-id="3"]{

background: url(../images/quality.png) no-repeat;
}
.slogan [data-id="4"]{

background: url(../images/back.png) no-repeat;
}
.slogan p{
font: size 28px; 
margin-left: 20px;
}
.service{
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}
.service-left{
    display: flex;
    gap: 84px;
}
.service-left dt{
font-size: 18px;
margin-bottom: 30px;    
}
.service-left dd{
    margin-bottom: 10px;
    font-size: 12px;
color: #969696;  
}
.service-left a{
   font-size: 12px;
color: #969696;  
}
.service-right ul{
    display: flex;
}
.service-right li{
    margin-left: 55px;
    color: #969696;
    text-align: center;
    width: 100px;
height: 100px;
}
.service-right img{
    width: 100%;
    height: 100%;
}
.service-right p{
  margin-top: 10px;
}
.copyright{
position: relative;
    height: 100px;
        margin: 30px auto;
        text-align: center;
}
.copyright ul{ 
    position: absolute;
    left: 30%;
        height: 60px;
display: flex;

align-items: center;
}
.copyright a{
    font-size: 15px;
    color: #A1A1A1;  
}
.copyright .line{

    width: 1px;
    height: 15px;
    background-color: #A1A1A1; 
       margin-left: 10px;
    margin-right: 10px;

}
.copyright p{
   display: block;

   position: absolute;
 left: 46%;
 bottom: 20%;
}