.w{
    width: 1250px;
    margin: 0 auto;
}

.shortcut{
    height: 52px;
    background-color: #333;
}
.shortcut li a{
    width: 60px;
    height: 52px;
color: #f5f5f5;    
}
.shortcut ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;/*里面所有元素垂直居中*/
    height: 52px;
}
.shortcut .line{
    width: 1px;
    height: 12px;background-color: #999;
    margin-left: 15px;
    margin-right: 15px;
}
.shortcut .active{
    color: aquamarine;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 132px;
}
.header .logo {
    width: 200px;
    height: 88px;
}
.logo h1{
    width: 100%;
    height: 100%;
}
.header .logo a{
    display: block;
    width: 100%;
    height: 100%;
}
.header .logo a img{
    width: 100%;
    height: 100%;
}
.box{
position: relative;
}
.box a{
    display: block;
    float: left;
    font-size: 20px;
    height: 40px;
    line-height: 40px;
    margin-right: 20px;
}
.clear{
    clear: both;
}
.box .active{
    color: aquamarine;
}
.box .line{
    width: 40px;
    height: 1px;
    background-color: aquamarine;
    transition: all .3s;
}
.search{
    position: relative;
}
.search .icon-fangdajing{
    position: absolute;
    top: 5px;
    left: 0;
    font-size: 25px;
}
.search input{
    width: 170px;
    height: 40px;
    font-size: 16px;
    border-bottom: 2px solid #f4f4f4;
    padding-left: 28px;
}
.search input::placeholder{
    font-size: 16px;
    color: #ccc;
}
.car{
margin-right: 30px;    
}