/* 直接选中图标类名，覆盖默认样式 */
.shortcut .iconfont.icon-a-shoujipoppy_icon_mobile_phone {
  color: #f5f5f5 !important; /* 强制设置为浅灰色 */
  font-size: 25px; /* 图标大小 */
  margin-right: 5px; /* 与文字间距 */
  vertical-align: middle; /* 对齐文字 */
}